RedSalud/App_WebReferences/bo/com/alianza/quality/InsuredSend.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://AlianzaNetServices/ServiciosWeb/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://AlianzaNetServices/ServiciosWeb/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Funciones para consumo de asegurados</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://AlianzaNetServices/ServiciosWeb/">
      <s:element name="reaInsuredAMMicroinsurance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="reaInsuredAMMicroinsuranceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="reaInsuredAMMicroinsuranceResult">
              <s:complexType>
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="reaInsuredAMMicroinsuranceSoapIn">
    <wsdl:part name="parameters" element="tns:reaInsuredAMMicroinsurance" />
  </wsdl:message>
  <wsdl:message name="reaInsuredAMMicroinsuranceSoapOut">
    <wsdl:part name="parameters" element="tns:reaInsuredAMMicroinsuranceResponse" />
  </wsdl:message>
  <wsdl:message name="reaInsuredAMMicroinsuranceHttpGetIn">
    <wsdl:part name="nUser" type="s:string" />
    <wsdl:part name="sPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="reaInsuredAMMicroinsuranceHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="reaInsuredAMMicroinsuranceHttpPostIn">
    <wsdl:part name="nUser" type="s:string" />
    <wsdl:part name="sPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="reaInsuredAMMicroinsuranceHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:portType name="InsuredSendSoap">
    <wsdl:operation name="reaInsuredAMMicroinsurance">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Asegurados Vigentes de Asistencia Medica </wsdl:documentation>
      <wsdl:input message="tns:reaInsuredAMMicroinsuranceSoapIn" />
      <wsdl:output message="tns:reaInsuredAMMicroinsuranceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="InsuredSendHttpGet">
    <wsdl:operation name="reaInsuredAMMicroinsurance">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Asegurados Vigentes de Asistencia Medica </wsdl:documentation>
      <wsdl:input message="tns:reaInsuredAMMicroinsuranceHttpGetIn" />
      <wsdl:output message="tns:reaInsuredAMMicroinsuranceHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="InsuredSendHttpPost">
    <wsdl:operation name="reaInsuredAMMicroinsurance">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Asegurados Vigentes de Asistencia Medica </wsdl:documentation>
      <wsdl:input message="tns:reaInsuredAMMicroinsuranceHttpPostIn" />
      <wsdl:output message="tns:reaInsuredAMMicroinsuranceHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InsuredSendSoap" type="tns:InsuredSendSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="reaInsuredAMMicroinsurance">
      <soap:operation soapAction="http://AlianzaNetServices/ServiciosWeb/reaInsuredAMMicroinsurance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InsuredSendSoap12" type="tns:InsuredSendSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="reaInsuredAMMicroinsurance">
      <soap12:operation soapAction="http://AlianzaNetServices/ServiciosWeb/reaInsuredAMMicroinsurance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InsuredSendHttpGet" type="tns:InsuredSendHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="reaInsuredAMMicroinsurance">
      <http:operation location="/reaInsuredAMMicroinsurance" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InsuredSendHttpPost" type="tns:InsuredSendHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="reaInsuredAMMicroinsurance">
      <http:operation location="/reaInsuredAMMicroinsurance" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InsuredSend">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Funciones para consumo de asegurados</wsdl:documentation>
    <wsdl:port name="InsuredSendSoap" binding="tns:InsuredSendSoap">
      <soap:address location="http://quality.alianza.com.bo/ws/InsuredSend.asmx" />
    </wsdl:port>
    <wsdl:port name="InsuredSendSoap12" binding="tns:InsuredSendSoap12">
      <soap12:address location="http://quality.alianza.com.bo/ws/InsuredSend.asmx" />
    </wsdl:port>
    <wsdl:port name="InsuredSendHttpGet" binding="tns:InsuredSendHttpGet">
      <http:address location="http://quality.alianza.com.bo/ws/InsuredSend.asmx" />
    </wsdl:port>
    <wsdl:port name="InsuredSendHttpPost" binding="tns:InsuredSendHttpPost">
      <http:address location="http://quality.alianza.com.bo/ws/InsuredSend.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>